.main-content {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 2fr;

    width: 100%;
    height: 100%;
    padding: 20px 30px;
}

.control-panel {
    grid-column: 1 / 3;

    display: flex;
    justify-content: space-around;

    height: 50px;
}

.shops,
.shop-container,
.medicine-container,
.medicines,
.control-panel {
    display: flex;
    align-items: center;

    border: 2px black solid;
    border-radius: 10px;
}

.shops {
    flex-grow: 1;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    overflow: scroll;
}

#all-shops {
    display: flex;
    flex-direction: column;

    height: 100%;
    gap: 30px;
}

.medicine-container,
.shop-container {
    padding: 20px 40px;
    justify-content: center;
}

.shop-container:hover {
    cursor: pointer;
}

.medicines {
    flex-grow: 4;
    overflow: scroll;
}

#all-medicines {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.medicine-container {
    display: flex;
    flex-direction: column;
}

.medicine-info-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.medicine-info {
    display: flex;
    flex-direction: column;
}

.medicine-image {
    width: 200px;
    height: 200px;
}

.heart-wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
}

.heart-icon:hover {
    fill: red;
}